<!DOCTYPE HTML>
<html>
<head>
    <title>Repair request service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>Hello, pidorok</div>
<a href="/main">Main page</a>
</body>
</html>