<!DOCTYPE HTML>
<html>
<head>
    <title>DND damage calculator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

</head>
<style>

    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    body {
        font-family: 'Roboto', sans-serif;
    }

    .brd {
        border: 4px double black;
        background: #b8ffdd;
        padding: 10px;
    }

    .char_name {
        font-size: 22px;
    }

    .mrg > * {
        margin-left: 10px;
    }
</style>
<body>
<br/>
<div class="mrg">
    <a href="/">Start</a>
    <a href="/clear-all">Clear all data</a>
</div>
<br>
<div class="mrg">
    <form method="post" action="/new-char">
        <input type="text" name="name" placeholder="Input Name"/>
        <input type="number" name="hp" placeholder="Input HP">
        <button type="submit">Add</button>
    </form>
</div>
<br/>
<div id="root">
<div id="characters">
    {{#data}}
        {{#characters}}
            <div class="brd">
                <div>
                    <div>
                        <b class="char_name">{{name}}</b>
                        <span style="margin-left: 10px;">HP:{{hp}}</span>
                    </div>
                    <br>
                    <a style="margin-left: 10px;" href="/delete-char/{{id}}">Delete char</a>
                </div>
                <br>
                <div>
                    <div class="buff_configurator">
                        <form class="mrg" method="post" action="/create-effect/{{id}}">
                            <input type="text" name="name" placeholder="Input name">
                            <input type="text" name="description" placeholder="Input description">
                            <input type="number" name="duration" placeholder="Input duration">
                            <input type="number" name="hpPerTurn" placeholder="Input damage per turn">
                            <button type="submit">Add effect</button>
                        </form>
                    </div>
                    <br>
                    <div class="moment_damage mrg">
                        <form method="post" action="/deal-damage/{{id}}">
                            <input type="number" name="damage" placeholder=" Instant damage"/>
                            <button type="submit">Deal damage</button>
                        </form>
                    </div>
                <div class="buff-list mrg">
                    <br>
                    {{#effects}}
                        <div
                        ">
                        <b>{{name}} - </b>
                        <span>{{description}}</span>
                        <span>Duration:{{duration}}</span>
                        <span>DPT:{{hpPerTurn}}</span>
                    </div>
                        <a style="margin-left: 10px" href="/delete-effect/{{id}}">Delete effect</a>
                        <br>
                    {{/effects}}
                </div>
            </div>
        </div>
            <br/>
        {{/characters}}
    {{/data}}
</div>
</div>

</body>
</html>